learning/node_modules/

learning/android/build/
learning/android/.idea
learning/android/.gradle
learning/android/local.properties
learning/android/*.iml
learning/android/*.hprof
learning/android/.cxx/
learning/android/*.jsbundle

learning/ios/build/
learning/ios/*.pbxuser
learning/ios/!default.pbxuser
learning/ios/*.mode1v3
learning/ios/!default.mode1v3
learning/ios/*.mode2v3
learning/ios/!default.mode2v3
learning/ios/*.perspectivev3
learning/ios/!default.perspectivev3
learning/ios/xcuserdata
learning/ios/*.xccheckout
learning/ios/*.moved-aside
learning/ios/DerivedData
learning/ios/*.hmap
learning/ios/*.ipa
learning/ios/*.xcuserstate
learning/ios/project.xcworkspace
learning/ios/.xcode.env.local
learning/ios/*.jsbundle
learning/ios/Pods/

